@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;600&display=swap');
@import url("https://use.typekit.net/sfa6trs.css");

* {
    font-family: omnes-pro, sans-serif;
}

#video-2 {
    display: none;
}

#toTop {
    background-color: transparent;
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 999;
}

#toTop div {
    background-color: red;
    height: 57px;
    width: 100px;
    right: 0;
    bottom: 0px;
    position: fixed;
    border-radius: 120px 0 0 0;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 20px;
}

/* Start code: Menu voor mobiele versie */

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.outer-menu {
    position: fixed;
    top: 0px;
    right: 90px;
    z-index: 10;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
    transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before,
.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
    pointer-events: auto;
    visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover+.hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    background-color: #F05945;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}

.outer-menu .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fefefe;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger>div:before,
.outer-menu .hamburger>div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s ease;
}

.outer-menu .hamburger>div:after {
    top: 10px;
}

.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div {
    width: 200vw;
    height: 200vw;
    color: #f05945;
    background-color: whitesmoke;
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div>ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}

.outer-menu .menu>div>div>ul>i {
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.outer-menu .menu>div>div>ul>li>a {
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 0.4s ease;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.outer-menu .menu>div>div>ul>li>a:hover,
.outer-menu .menu>div>div>ul>i:hover {
    color: black;
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
    width: 100%;
}

.outer-menu .menu>div>div>ul>li>a:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    transition: width 0.4s ease;
}


/* Einde code: Menu voor mobiele versie */


/* Start code: Main-menu-container */
.main-menu-desktop,
.main-menu-icons {
    display: none;
}

.main-menu-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.ipo-logo img {
    height: 60px;
    cursor: pointer;
    margin-left: 10px;
}

/* Einde code: Main-menu-container */

/* Start code: banner-container */
.banner {
    width: 100%;
    border-bottom: 2px solid #F05945;
    background-color: #F7F3E9;
}

.banner-container {
    height: auto;
    margin: auto;
    width: 60%;
    position: relative;
}

.video-banner {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

.banner-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
}

/* Einde code: banner-container */

/* Start code: home-container */
.wiezijnwij {
    display: flex;
    flex-wrap: wrap;
}

.wiezijnwij article {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px 10px;
}



.wiezijnwij section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiezijnwij>section>video {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #F05945;
}

.watisipo {
    background-color: #F7F3E9;
    width: 90%;
    margin: auto;
    padding: 10px 5%;
}

.watisipo>.waarvoorStaatIpo {
    text-align: center;
}

.doelstellingen>section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.doelstellingen>section>article {
    background-color: white;
    border: 1px solid #F05945;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 5px 10px gray;
}

.doelstellingen>section>article>img {
    height: 110px;
    transition: 1s;
}

.doelstellingen>section>article>img:hover {
    transform: rotate(90deg);
    height: 130px;
    transition: 0.5s;
}

.triangle-up {
    display: none;
}

/* Einde code: home-container */
/*Line*/
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.line span {
    height: 3px;
    width: 100%;
    background-color: #F05945;
}

.line div {
    color: black;
    display: flex;
    align-items: center;
    margin: 0 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

/**-------------***/

/* Start code: leerlij-container*/
.leerlijn-container {
    width: 100%;
    margin: auto;
    text-align: center;
    border-top: 2px solid #f05945;
}

.fase-container {
    margin: auto;
    width: 100%;
    background-color: #F7F3E9;
}

.fase {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-top: 1px solid #f05945;
    border-bottom: 1px solid #f05945;
}

.fase h2 {
    width: 100%;
}

.fase ul {
    background-repeat: no-repeat;
    text-align: left;
    list-style-image: url("../images/leerlijn-logo-1.png");
}

.fase2 {
    background-color: white;
}

.fase img {
    width: 80%;
    border: 2px solid #F05945;
}


/* Einde code: leerlij-container*/
/* Start code: opleidingen*/
.opleidingen-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.vub,
.ehb {
    width: 100%;
    margin: auto;
}

.vub>section,
.ehb>section {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.opleidingen-box {
    background-color: #F7F3E9;
    width: 100%;
    margin: 50px 0;
    box-shadow: 10px 10px 30px gray;
    border-radius: 0 25px;
}

.opleidingen-box>article {
    padding: 50px 15px;
}

.opleidingen-box>article>h3 {
    margin-top: 0;
    color: #F05945;
    text-transform: uppercase;
    font-size: 1.5em;
}

.opleidingen-box>article>a {
    color: #F05945;
    text-transform: capitalize;
    font-size: 1em;
    background-color: white;
    padding: 5px 20px;
    border: 1px solid #F05945;
    border-radius: 15px;
    transition: 0.5s;
}

.opleidingen-box>article>a:hover {
    background-color: #F05945;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.banner-opleidingen {
    background-image: url("../images/HEADEROpleidingen1.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #f05945;
}

.opleidingen-img-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.opleidingen-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Einde code: opleidingen*/

/* Start code: Contact-container*/
.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container>section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-table,
.contact-video {
    width: 100%;
    text-align: center;
}

.contact-table p {
    color: #60aba9;
}

.contact-table>input[type=text],
input[type=number],
input[type=email],
textarea {
    width: 90%;
    padding: 15px 0;
    background-color: #ededed;
    border: 1px solid #60aba9;
}

.contact-table>input[type=submit] {
    background-color: white;
    width: 90%;
    padding: 10px 0;
    font-size: 1em;
    color: #f05945;
    border: 2px solid #F05945;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}

::placeholder {
    font-size: 15px;
    padding-left: 10px;
    text-transform: uppercase;
}

.contact-video video {
    width: 100%;
}

.contact-div {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-div>div {
    background-color: #F7F3E9;
}


/* Einde code: Contact-container*/

/* Start code: Footer-container*/
footer {
    padding: 50px 0;
    background-color: #1D1E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.footer-ipo-logo img {
    height: 75px;
}

footer h2 {
    color: #F05945;
    font-size: 1.5em;
    text-transform: uppercase;
}


.footer-icons i {
    font-size: 1.5em;
    margin-left: 20px;
}

.footer-icons i:hover {
    color: #F05945;
}

.icons-university {
    background-color: #1D1E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-university img {
    margin-bottom: 50px;
    width: 100px;
}

/* Einde code: Footer-container*/

h1 span,
h2 span {
    color: #F05945;
    font-size: 35px;
}

h1 {
    font-size: 1.5em;
    font-family: 'Josefin Sans',
        sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 100px 0;
}

h2 {
    color: #1D1E1B;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
}

/*Start code media*/


@media (min-width: 750px) {

    /*Star code: main menu*/

    .sub>ul {
        display: none;
        background-color: rgba(255, 255, 255, 0.719);
        border: 1px solid #F05945;
    }

    .sub>ul li {
        text-align: left;
        padding: 20px;
    }

    .sub {
        background: url("../images/ic_keyboard_arrow_down.png") right no-repeat;
        padding-right: 20px;
    }

    .main-menu-desktop .sub:hover>ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        transition: 5s;
    }

    .main-menu-desktop .sub ul li a {
        margin: 0;
        padding: 15px 10px;
        text-align: left;
        color: #F05945;
        font-size: 0.75em;

    }

    .main-menu-desktop .sub ul li a:hover {
        color: white;
        background-color: #f05945d5;
        border-radius: 10px;
    }

    .main-menu-container {
        z-index: 888;
        background-color: white;
    }

    .main-menu-container {
        align-items: center;
        justify-content: space-between;
    }

    .outer-menu {
        display: none;
    }

    .main-menu-desktop {
        display: block;
    }

    .main-menu-desktop ul li {
        display: inline-block;
    }

    .main-menu-desktop ul li a {
        font-size: 1em;
        color: #F05945;
        margin-left: 50px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
    }

    .main-menu-desktop ul li a:hover {
        color: #1D1E1B;
        text-decoration: underline;
    }


    .main-menu-icons {
        display: block;
        font-size: 1.5em;
        color: #F05945;
        margin-right: 10%;
    }

    .main-menu-icons i {
        margin-right: 30px;
    }

    .main-menu-icons i:hover {
        color: #1D1E1B;
    }

    .ipo-logo img {
        transition: 1s;
        margin-left: 230px;
    }

    .ipo-logo img:hover {
        transform: rotate(360deg);
        transition: 1s;
    }

    /*Einde code: main menu*/

    /*Start code: Home*/
    .home-container {
        width: 100%;
        margin: auto;
    }

    .wiezijnwij {
        width: 80%;
        margin: auto;
        justify-content: space-between;
    }

    .wiezijnwij article,
    .wiezijnwij section {
        width: 48%;
        text-align: left;
        margin-bottom: 100px;
    }

    .watisipo {
        background-color: #F7F3E9;
        width: 100%;
        padding: 20px 0;
    }

    .waarvoorStaatIpo {
        width: 80%;
        margin: auto;
    }

    .waarvoorStaatIpo p {
        width: 80%;
        margin: auto;
        text-align: left;
    }

    .doelstellingen>section {
        width: 80%;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 70px;
    }

    .doelstellingen>section>article {
        width: 15%;
        height: 350px;
        position: relative;
        box-shadow: none;
    }

    .triangle-up {
        display: block;
    }

    .triangle-up img {
        position: absolute;
        bottom: -3px;
        left: -10px;
        width: 110%;
        height: 80px;
    }

    .line {
        width: 80%;
        margin: 50px auto;
    }

    /*Einde code: Home*/

    /*Start code: Leerlijn-container*/

    .fase-container {
        width: 100%;
    }

    .fase {
        width: 100%;
        margin: auto;
        text-align: left;
        background-color: #F7F3E9;
        position: relative;
    }


    .fase h2 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 50px;
    }

    .fase2 {
        background-color: white;
    }

    .fase2 article {
        order: 3;
    }

    .fase2 section {
        order: 1;
    }

    .fase2 div {
        order: 2;
    }

    .fase section,
    .fase article {
        width: 40%;
        margin: auto;
    }

    .line-fase {
        width: 3px;
        height: 450px;
        background-color: #F05945;
    }

    .fase img {
        transform: rotate(-5deg);
        margin-bottom: 50px;
    }

    .fase2 img {
        transform: rotate(5deg);

    }

    /*Einde code: Leerlijn-container*/

    footer {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        padding: 0;
    }

    footer div {
        height: 200px;
        margin: 0;
    }

    footer img {
        margin-top: 20px;
    }

    .icons-university {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    /*Start code: Opleidingen*/
    .opleidingen-container {
        width: 80%;
        margin: auto;
    }

    .vub section {
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }


    .opleidingen-box {
        width: 30%;
        border-radius: 0px 25px;
        box-shadow: none;
        transition: 1s;
    }

    .opleidingen-box:hover {
        box-shadow: 0px 0px 20px 5px gray;
        transform: rotateY(10deg);
        transition: 0.5s;
    }

    .line {
        width: 100%;
    }

    .vub {
        width: 100%;
        margin: auto;
    }

    .opleidingen-box>article {
        padding: 20px 15px;
    }

    /*Einde code: Opleidingen*/

    /*Start code: Contact-container*/
    .contact-container {
        width: 100%;
        margin: auto;
        border-top: 2px solid #f05945;
    }

    .contact-container h1 {
        text-align: left;
        margin-left: 10%;
    }

    .contact-container>section {
        width: 80%;
        justify-content: space-between;
    }

    .contact-table,
    .contact-video {
        width: 50%;
        text-align: left;
    }

    .contact-video>video {
        width: 100%;
        height: 100%;
    }

    .contact-table p {
        margin-bottom: 10px;
    }

    .contact-table>input[type=text],
    input[type=number],
    input[type=email],
    textarea {
        width: 70%;
        margin: 0;
        padding: 8px 0;
        transition: 1s;
    }

    .contact-table>input[type=text]:hover,
    input[type=number]:hover,
    input[type=email]:hover,
    textarea:hover {
        width: 75%;
        border: 2px solid #60ABA9;
        transition: 0.5s;
        border-radius: 0px 15px 15px 0px;
    }

    .contact-table>input[type=submit] {
        margin: 50px 0 100px 0;
        width: 30%;
        border-radius: 10px;
        transition: 1s;
    }

    .contact-table>input[type=submit]:hover {
        border-radius: 40px;
        background-color: #f05945;
        color: white;
        transition: 0.5s;
    }

    /*Einde code: Contact-container*/

    /*Einde code: footer*/
}