@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;600&display=swap');
@import url("https://use.typekit.net/sfa6trs.css");

* {
    font-family: omnes-pro, sans-serif;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 20px;
}

/* Start code: Menu voor mobiele versie */

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.outer-menu {
    position: fixed;
    top: 0px;
    right: 90px;
    z-index: 1;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
    transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before,
.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
    pointer-events: auto;
    visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover+.hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    background-color: #F05945;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}

.outer-menu .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fefefe;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger>div:before,
.outer-menu .hamburger>div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s ease;
}

.outer-menu .hamburger>div:after {
    top: 10px;
}

.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div {
    width: 200vw;
    height: 200vw;
    color: #f05945;
    background-color: whitesmoke;
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div>ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}

.outer-menu .menu>div>div>ul>i {
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.outer-menu .menu>div>div>ul>li>a {
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 0.4s ease;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.outer-menu .menu>div>div>ul>li>a:hover,
.outer-menu .menu>div>div>ul>i:hover {
    color: black;
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
    width: 100%;
}

.outer-menu .menu>div>div>ul>li>a:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    transition: width 0.4s ease;
}

/* Einde code: Menu voor mobiele versie */


/* Start code: Main-menu-container */
.main-menu-desktop,
.main-menu-icons {
    display: none;
}

.main-menu-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.ipo-logo img {
    height: 60px;
    cursor: pointer;
    margin-left: 10px;
}

/* Einde code: Main-menu-container */

/* Start code: banner-container */

.banner-container {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    border-bottom: 5px solid #F05945;
}

/* Einde code: banner-container */

/* Start code: home-container */
.wiezijnwij {
    display: flex;
    flex-wrap: wrap;
}

.wiezijnwij article {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px 10px;
}

.wiezijnwij article h1 {
    font-size: 1.5em;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.wiezijnwij article h2 {
    color: #F05945;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

.wiezijnwij section {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    border: 3px solid #F05945;
    height: 300px;
    background-color: #A3D2CA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiezijnwij>section>img {
    width: 15%;
}

.watisipo {
    background-color: #F7F3E9;
    width: 90%;
    margin: auto;
    padding: 10px 5%;
}

.watisipo>.waarvoorStaatIpo {
    text-align: center;
}

.watisipo>.waarvoorStaatIpo>h2 {
    color: #F05945;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.doelstellingen>section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.doelstellingen>section>article {
    background-color: white;
    border: 1px solid #F05945;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 30px;
}

.doelstellingen>section>article>img {
    height: 110px;
    transition: 1s;
}

.doelstellingen>section>article>img:hover {
    transform: rotate(90deg);
    height: 130px;
    transition: 0.5s;
}

.triangle-up {
    display: none;
}

/* Einde code: home-container */
/*Line*/
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.line span {
    height: 2px;
    width: 100%;
    background-color: #F05945;
}

.line div {
    color: #F05945;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

/**-------------***/

/* Start code: leerlij-container*/
.leerlijn-container {
    height: 500px;
}

/* Einde code: leerlij-container*/

/* Start code: Footer-container*/
footer {
    padding: 50px 0;
    background-color: #1D1E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.footer-ipo-logo img {
    height: 100px;
}

footer h2 {
    color: #F05945;
    font-size: 1.5em;
    text-transform: uppercase;
}

.footer-icons i {
    font-size: 1.5em;
    margin-left: 20px;
}

.footer-icons i:hover {
    color: #F05945;
}

.icons-university {
    background-color: #1D1E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-university img {
    margin-bottom: 50px;
    width: 150px;
}

/* Einde code: Footer-container*/



/*Start code media*/
@media (min-width: 750px) {

    /*Star code: main menu*/
    .main-menu-container {
        position: fixed;
        z-index: 999;
        background-color: white;
    }

    .main-menu-container {
        align-items: center;
        justify-content: space-between;
    }

    .outer-menu {
        display: none;
    }

    .main-menu-desktop {
        display: block;
    }

    .main-menu-desktop ul li {
        display: inline-block;
    }

    .main-menu-desktop ul li a {
        font-size: 1em;
        color: #F05945;
        margin-left: 50px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
    }

    .main-menu-desktop ul li a:hover {
        color: #1D1E1B;
        text-decoration: underline;
    }


    .main-menu-icons {
        display: block;
        font-size: 1.5em;
        color: #F05945;
        margin-right: 10%;
    }

    .main-menu-icons i {
        margin-right: 30px;
    }

    .main-menu-icons i:hover {
        color: #1D1E1B;
    }

    .ipo-logo img {
        transition: 1s;
        margin-left: 230px;
    }

    .ipo-logo img:hover {
        transform: rotate(360deg);
        transition: 1s;
    }

    /*Einde code: main menu*/

    /*Start code: banner*/

    .banner-container {
        background-image: url('../images/banner-1.jpg');
    }

    /*Einde code: banner*/

    /*Start code: Home*/
    .home-container {
        width: 100%;
        margin: auto;
    }

    .wiezijnwij {
        width: 80%;
        margin: auto;
        justify-content: space-between;
    }

    .wiezijnwij article,
    .wiezijnwij section {
        width: 45%;
        height: 500px;
        text-align: left;
        margin-top: 50px;
    }

    .watisipo {
        background-color: #F7F3E9;
        width: 100%;
        padding: 20px 0;
    }

    .waarvoorStaatIpo {
        width: 80%;
        margin: auto;
    }

    .waarvoorStaatIpo p {
        width: 80%;
        margin: auto;
        text-align: left;
    }

    .doelstellingen>section {
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }

    .doelstellingen>section>article {
        width: 15%;
        height: 350px;
        position: relative;
    }

    .triangle-up {
        display: block;
    }

    .triangle-up img {
        position: absolute;
        bottom: -3px;
        left: -10px;
        width: 110%;
        height: 80px;
    }

    .line {
        width: 80%;
        margin: 50px auto;
    }

    /*Einde code: Home*/

    footer {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        padding: 0;
    }

    footer div {
        height: 200px;
        margin: 0;
    }

    footer img {
        margin-top: 20px;
    }

    .icons-university {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    /*Einde code: footer*/
    .fixedNav {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 2px solid #F05945;
    }

}