@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    color: #17252A;

}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HAMBURGER MENU BEGIN */
/*@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}*/

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}


.outer-menu {
    position: fixed;
    top: 0px;
    right: 90px;
    z-index: 1;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
    transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before,
.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
    pointer-events: auto;
    visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover+.hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


.outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    background: #3AAFA9;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0px 0px 50px;
}

.outer-menu .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #FEFEFE;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger>div:before,
.outer-menu .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s ease;
}

.outer-menu .hamburger>div:after {
    top: 10px;
}

.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div {
    width: 200vw;
    height: 200vw;
    color: #FEFEFE;
    background: #2B7A78;
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div>ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}

.outer-menu .menu>div>div>ul>li>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 0.4s ease;
    color: #DEF2F1;
}

.outer-menu .menu>div>div>ul>li>a:hover {
    color: #e5e5e5;
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
    width: 100%;
}

.outer-menu .menu>div>div>ul>li>a:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    transition: width 0.4s ease;
}

/* HAMBURGER MENU EIND*/
/*NAV*/

.nav {
    position: fixed;
    width: 100%;
    background-color: #216260;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.nav-desktop {
    display: none;
}

.logo img {
    width: 150px;
}

/* HEADER */

.header {
    background-image: url("../images/header.gif");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-color: wheat;
    overflow: hidden;
    position: relative;

}

.header::after {
    content: "";
    width: 100%;
    height: 200px;
    background-color: #DEF2F1;
    position: absolute;
    transform: sKewY(-4deg);
    bottom: -100px;
    border-top: 5px solid #216260;
}

#canvas {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/*wat is ipo*/

.home {
    padding-bottom: 40px;
    background-color: #DEF2F1;
}

.watisipo {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.watisipo div {
    width: 100%;
}

.watisipo>div>h1,
.doelstellingen>h1 {
    text-align: center;
    margin-top: 0px;
    color: #3AAFA9;
}

.watisipo>div>p {
    line-height: 1.5;
    margin-top: 0px;
    color: #17252A;
    font-size: 16px;
    text-align: justify;
    transition: 0.5s;
}

.image_ipo {
    width: 90%;
    margin: auto;
}

.image_ipo img {
    margin: 50px 0px;
    width: 100%;
}



/*doelstellingen*/

.doelstellingen div {
    border-radius: 10px;
    padding: 20px 15px;
    margin: 20px 0px;
    text-align: center;
    background-color: #3AAFA9;
    transition: 0.3s;

}

.doelstellingen div:hover {

    background-color: #2B7A78;
}

.doelstellingen p {
    font-size: 15px;
    color: #DEF2F1;
    text-align: center;
}

.doelstellingen div img {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100px;
}

section {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    width: 90%;
}

section div {
    border: 3px solid #17252A;
    width: 40%;
}

/*wie zijn wij*/


.wiezijnwij {

    padding-bottom: 40px;
    background-color: #DEF2F1;
}

.werkgroepipo {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #DEF2F1;
    width: 90%;
}


.wiezijnwij h3 {

    text-decoration: underline 2px;
    text-align: center;
    margin-top: 0px;
    color: #3AAFA9;
    margin-bottom: 40px;
}

.wiezijnwij h1 {
    text-align: center;
    margin-top: 0px;
    color: #3AAFA9;
}

.wiezijnwij p {
    color: #17252a;
    text-align: justify;
    font-size: 16px;
}

.wiezijnwij img {
    margin: 40px 0px;
}

/*leerlijn IPO*/

.leerlijn {
    text-align: center;
    padding-bottom: 40px;
    background-color: #DEF2F1;
}

.leerlijn nav {
    margin: auto;
    width: 100%;
}

.leerlijn h1 {
    margin: 0;
    color: #3AAFA9;
    text-align: center;
}

.leerlijn nav ul {
    margin: 30px 40px;
    display: flex;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;

}

.leerlijn nav ul li a {
    color: #DEF2F1;


}

.leerlijn nav ul li {
    border: 2px solid #17252A;
    padding: 10px 20px;
    border-radius: 5px;
    /* background-color: #DEF2F1;*/
    background-color: #3AAFA9;
    transition: 0.3s;
    display: inline-block;

}


.leerlijn nav ul li:hover {
    border-radius: 10px;
    transition: 0.3s;
    background-color: #2B7A78;
}

.arrowUp i {
    color: #216260;
    margin-top: 40px;
    font-size: 75px;
    transition: 0.3s;
}

.arrowUp i:hover {
    transition: 0.3s;
    color: #17252A;
}

.fase {
    border: 3px dashed #17252a;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 40px 0px;
    background-color: #3AAFA9;
    margin-top: 40px;
    border-radius: 20px;

}

span {
    font-weight: bold;
    color: #DEF2F1;
}

.fase p,
.fase ul li {
    color: #DEF2F1;
    margin: 0px 40px;
    text-align: justify;
}

.fase h3 {
    color: #17252A;
}

.fase ul li {
    margin: 0px 100px;
}

.fase img {
    margin-top: 20px;
    height: 200px;
}

/*contact*/

.container-contact {
    margin: auto;
    background-color: #DEF2F1;
}

.container-contact main {
    display: flex;
    flex-wrap: wrap;
}

.container-contact h1 {
    margin-top: 0;
    text-align: center;
    color: #3AAFA9;
}

.table {
    width: 80%;
    margin: auto;
}

.table p {
    margin: 5px;
    color: #2B7A78;
    font-weight: bold;

}

input[type=text],
input[type=number],
input[type=email],
textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 15px 0;
}


input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
textarea:hover {
    border: 2px solid #216260;
}

input[type=submit] {
    background-color: #3AAFA9;
    padding: 10px 30px;
    border-radius: 10px;
    color: #DEF2F1;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 30px;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #DEF2F1;
    color: #3AAFA9;
    transition: 0.5s;
    border-radius: 15px;
}

::placeholder {
    font-size: 15px;
    padding-left: 10px;
}

.img-contact {
    width: 80%;
    margin: auto;
    text-align: center;
}

.img-contact img {
    width: 70%;
    margin: 50px 0;
    border-radius: 15px;
    border: 3px solid #216260;
}

/*---------------------*/
.image_ipo img,
.imagewiezijnwij img {
    border: 5px dotted #17252A;
}

/*Footer*/

footer {
    width: 100%;
    background-color: #216260;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 0px;
}

footer div {
    width: 100%;
    margin: auto;
}

footer .footer-logo img {
    height: 75px;
}



.contact h3,
.footer-socialmedia h3 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.contact p {
    color: #DEF2F1;
    font-size: 20px;
}

.footer-socialmedia {
    margin-top: 0px;
}

.footer-socialmedia i {
    color: #DEF2F1;
    font-size: 30px;
    padding-left: 20px;
}

.footer-socialmedia i:hover {
    color: #17252A;
}

.logo-un {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #216260;
}

.logo-un img {
    margin-top: 10px;
    height: 50px;
    transition: 0.5s;
    margin-bottom: 40px;
}

@media (min-width: 761px) {
    .logo-un {
        flex-direction: row;
        justify-content: space-around;
        background-color: #216260;
    }



    footer div {
        width: 33%;
    }

    .outer-menu {
        display: none;
    }

    .nav {
        display: flex;
    }

    .nav-desktop {
        display: inline-block;
    }

    .nav-desktop ul li {
        list-style-type: none;
        display: inline-block;
    }

    .nav-desktop ul li a {
        color: white;
        font-weight: bold;
        font-size: 18px;
        margin-right: 75px;
        padding: 10px 20px;
        border-radius: 20px;
        transition: 0.3s;

    }

    .nav-desktop ul li a:hover {
        color: #3AAFA9;
        text-decoration: underline;
        transition: 0.3s;
    }

    .logo {
        margin-left: 75px;
        transition: 2s;
    }

    .logo:hover {
        transform: rotate(360deg);
        transition: 1s;
    }

    /*homepage*/

    .watisipo div {
        width: 40%;
        margin: auto;
    }

    .watisipo div h1 {
        text-align: left;
    }

    .watisipo div p {
        text-align: left;
        font-size: 20px;
        transition: 0.5s;
    }

    .watisipo {
        margin: auto;
        width: 100%;
        justify-content: space-around !important;
    }

    .doelstellingen {
        width: 90%;
        margin: auto;
    }

    section {
        width: 100%;
        justify-content: space-between;
    }

    section div {
        width: 15%;
    }

    .doelstellingen p {
        font-size: 20px;
        text-align: left;
    }

    .doelstellingen>h1 {
        text-align: left;
        margin-top: 50px;
    }

    /*wie zijn wij*/

    .werkgroepipo div {
        margin: auto;
        width: 40%;
    }

    .wiezijnwij h1,
    .wiezijnwij h3,
    .wiezijnwij p {
        text-align: left;
    }

    .werkgroepipo {
        justify-content: space-around;
    }

    .imagewiezijnwij img {
        width: 100%;
    }

    /*leerlijn IPO*/

    .fase {
        height: 690px;
        width: 30%;

    }

    .leerlijn nav ul {
        display: none;
    }

    .containerfases {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .containerfases h3 {
        margin: 30px 20px;
    }

    /*contact*/

    .container-contact {
        padding-bottom: 30px;
    }

    .img-contact,
    .table {
        width: 50%;
    }

    .img-contact img {
        width: 50%;
    }

    input[type=text],
    input[type=number],
    input[type=email],
    textarea {
        width: 60%;
        margin-top: 6px;
        margin-bottom: 10px;
        padding: 10px 0;
        transition: 0.5s;
    }

    input[type=text]:hover,
    input[type=number]:hover,
    input[type=email]:hover,
    textarea:hover {
        width: 65%;
        transition: 0.5s;
    }

    input[type=submit] {
        width: 20%;
    }
}